@model Model.EF.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <a href="/Admin/Department">Quản lý phòng ban</a> / <a href="/Admin/Department/Create">Thêm mới phòng ban</a>
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nhập các trường thông tin <small>Các trường có dấu * là bắt buộc</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />

                @using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @id = "demo-form2", @class = "form-horizontal form-label-left" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Mã phòng ban <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Tên phòng ban <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            @Html.ActionLink("Quay lại", "Index", "Department", new { @class = "btn btn-info" })
                            <button type="submit" class="btn btn-success">Xác nhận</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>