@model Model.EF.Document

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <a href="/Admin/Document/CreateDispatchArrived">Thêm mới văn bản đến</a>
}

@section jsFooter{
    <script>
        $('#btnSelectFile').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtFile').val(url);
            };
            finder.popup();
        });
    </script>
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nhập các trường thông tin <small>Các trường có dấu * là bắt buộc</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />

                @using (Html.BeginForm("CreateDispatchArrived", "Document", FormMethod.Post, new { @id = "demo-form2", @class = "form-horizontal form-label-left" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <div style="height:38px" class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            File văn bản
                        </label>
                        <div class="col-md-6 col-sm-6 input-group">
                            @Html.TextBoxFor(model => model.AttachedFile, new { @class = "form-control", @id = "txtFile" })
                            <a style="background-color:#91aacc" href="#" class="btn btn-default" id="btnSelectFile">Chọn file</a>
                            @Html.ValidationMessageFor(model => model.AttachedFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Trích yếu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.Summary, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Ngày đến <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.DateArrived, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.DateArrived, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Số kí hiệu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.Number, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Cơ quan ban hành <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.TextBoxFor(model => model.DepartmentIssued, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepartmentIssued, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Sổ văn bản <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.DropDownListFor(model => model.DocumentBookID, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DocumentBookID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Loại văn bản <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            @Html.DropDownListFor(model => model.DocumentTypeID, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DocumentTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="txtChange btn btn-success">Lưu và chuyển đến BGH để xin ý kiến chỉ đạo</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
